/*
CSS

Structure de base:

<selector>
{
	<propriété>: <valeur>;
	<propriété>: <valeur>;
}

Comme je le comprend, il y a 3 bonnes façon de traiter les styles (selector):
1: Par élément HTML
	ex:
	div
	{
		background-color: red;
	}

2: Par classe
	ex:
	.myClass1
	{
		background-color: red;
	}
	.myClass2
	{
		color: rgba(0,0,0,1.0); //Noir
	}
	

	<div class="myClass1 myClass2">...</div>

3: Par ID
	ex:
	#myId
	{
		background-color: red;
	}
	

	<div id="myId">...</div>


NOTE: Vaut mieux utiliser les Classes car tu peux appliquer une classe plusieurs fois, mais un ID est unique

ID est plus spécifique que les Classe qui est plus spécifique que par l'Élément. CSS va toujours appliquer l'élément qui "fitte" le plus spécifique
*/

*
{
	align-self: center;
	padding: 8px;
}